button {
  flex: 1;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid #000;
  color: #fff;
  background-color: #3b3b3b;
}

button.clear {
  background-color: #a72d45;
}

button.equal {
  height: 100px;
}

button.button-2 {
  flex: 2;
}
